@model IEnumerable<ShowControlWeb_QuestionManagement.Questionstacks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>|
    <a asp-action="Index" asp-controller="StackConfigurations">Configure</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        bool IsLive = (item.StackId == ViewBag.LiveStandardStackID) || (item.StackId == ViewBag.LiveQualificationStackID);
        bool IsReplacement = (item.StackId == ViewBag.ReplacementStandardStackID) || (item.StackId == ViewBag.ReplacementQualificationStackID);
        <tr>
            <td>
                <a asp-action="Index" asp-controller="QuestionsPreviewFromStack"
                   asp-route-id="@item.StackId">@Html.DisplayFor(modelItem => item.Stack)</a>
                @if (IsLive)
                {
                    <span class="badge badge-danger">Live</span>
                }
                else if (IsReplacement)
                {
                    <span class="badge badge-danger">Live</span>
                    <span class="badge badge-pill badge-info">Replacement</span>
                }
            </td>
            <td>
                @((QuestionTypeDescription)item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StackId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.StackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
