@model ShowControlWeb_QuestionManagement.Gamequestions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gamequestions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubcategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubcategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalSubcategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalSubcategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pronunciation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pronunciation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionCreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionCreator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimesAnswered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimesAnswered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDateAnswered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDateAnswered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
