@model ShowControlWeb_QuestionManagement.Stackconfigurations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stackconfigurations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseNewQuestionsForStackBuildUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseNewQuestionsForStackBuildUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseOldQuestionsForStackBuildUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseOldQuestionsForStackBuildUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseOldQuestionsForReplacementSearch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseOldQuestionsForReplacementSearch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationQuestionsPerStack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationQuestionsPerStack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardQuestionsPerStack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardQuestionsPerStack)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StackConfigurationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
